<section class="bg-purple-100 p-8 mt-5 rounded-xl shadow-xl">
  <div class="flex flex-row space-x-6">
    <img
      class="w-52 h-52 rounded"
      src="me.png"
      alt="Cory Boyd"
    />

    <div class="flex flex-col space-y-3">
      <div class="prose prose-sm prose-pink">
        <p>Software engineer by day, cat dad, gamer, hacker, and aspiring musician by night.</p>

        <p>Delivers simple systems built on well understood foundations.</p>

        <p>I built this site using
          <a href="https://posthtml.org/" target="_blank"><code>PostHTML</code></a>,
          <a href="https://postcss.org/" target="_blank"><code>PostCSS</code></a>,
          <a href="https://tailwindcss.com/" target="_blank"><code>TailwindCSS</code></a>,
          and
          <a href="https://gulpjs.com/" target="_blank"><code>Gulp</code></a>,
          Yes, I used Gulp in 2021, and it was exactly the right tool for the job.
        </p>

        <ul class="list-none">
          <li><a href="https://github.com/corytheboyd">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/corytheboyd">LinkedIn</a></li>
          <li><a href="https://twitter.com/corytheboyd">Twitter</a></li>
          <li><a href="mailto:me@corytheboyd.com">Email</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
