<html lang="en-us">
<head>
  <title>Cory Boyd</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="index.css">
</head>
<body class="texture-background bg-purple-200 h-screen w-screen flex flex-col">
<nav class="bg-purple-500 flex-grow-0 flex flex-col items-center">
  <div class="p-3 text-purple-100 space-x-5 w-full max-w-4xl">
    <a class="font-bold" href="/">Cory Boyd</a>
    <a class="text-sm" href="blog.html">Blog</a>
    <a class="text-sm" href="projects.html">Projects</a>
  </div>
</nav>
<main class="h-full flex-grow flex flex-col items-center">
  <div class="w-full max-w-4xl">
    <block name="content"></block>
  </div>
</main>
</body>
</html>
