@import "tailwindcss";
@import "98.css/dist/98.css";

body {
  overscroll-behavior-y: none;
  @apply h-screen w-screen;
  @apply overflow-hidden;
}

#app {
  @apply bg-gray-950;
  @apply m-auto flex h-full w-full flex-col items-center;
}

.win98-color-teal {
  background-color: #008080;
}

.win98-font {
  -webkit-font-smoothing: none;
  font-family: "Pixelated MS Sans Serif", serif;
  font-size: 11px;
}
