@import "./lib/fit-to-viewport";
@import "./lib/font-size";
@import "./lib/opacity";
@import "./lib/spacing";

nav {
  background: whitesmoke;
  display: flex;
  justify-content: center;

  #inner {
    @include fit-to-viewport;

    padding: spacing(2);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    .brand {
      @include font-size(title, 4);

      font-weight: 600;
      color: black;
      margin-right: spacing(3);
      text-decoration: none;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        @include opacity(2);

        a {
          @include font-size(body);

          font-weight: 600;
        }
      }
    }
  }
}
