@import "./lib/fit-to-viewport";
@import "./lib/font-size";
@import "./lib/opacity";
@import "./lib/spacing";

// TODO consider dark mode utils
@mixin _background {
  background: rgb(12, 107, 165);
}

@mixin _color {
  color: white;
}

nav {
  // TODO consider dark mode
  @include _background();

  display: flex;
  justify-content: center;

  #inner {
    @include fit-to-viewport;

    padding: spacing(2);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    .brand {
      @include font-size(title, 4);
      @include _color();

      font-weight: 600;
      margin-right: spacing(3);
      text-decoration: none;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        @include opacity(1);

        a {
          @include font-size(body);
          @include _color();

          font-weight: 600;
        }
      }
    }
  }
}
