@import "./lib/breakpoints";
@import "./lib/spacing";

main #inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > :not(:last-child) {
    @include respond-to("small") {
      margin-right: spacing(2);
    }
  }

  p {
    line-height: 1.5em;
    text-align: center;
  }
  @include respond-to("small") {
    flex-direction: row;
    justify-content: flex-start;

    p {
      text-align: left;
    }
  }

  img {
    $size: 150px;
    width: $size;
    height: $size;

    margin-bottom: spacing(3);
    @include respond-to("small") {
      margin-bottom: 0;
    }

    border-radius: spacing(0.5);
  }

  @include respond-to("small") {
    hr {
      display: none;
    }
  }
}
