@import "./lib/breakpoints";
@import "./lib/spacing";

main #inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > :not(:last-child) {
    @include respond-to("small") {
      margin-right: spacing(2);
    }
  }

  @include respond-to("small") {
    flex-direction: row;
    justify-content: flex-start;
  }

  img {
    $scale: 75%;
    width: $scale;
    height: $scale;

    border-radius: spacing(2);

    @include respond-to("small") {
      max-width: 9em;
    }
  }
}
