@import './lib/reset';
@import './lib/spacing';
@import './lib/typography';

body {
    margin: 0;
}

header {
    background: whitesmoke;
    padding: spacing(2);

    nav {
        display: flex;

        .brand {
            @include reset-link;
        }    

        ul {
            @include reset-list;
            
            li a {
                @include reset-link;
            }
        }
    }
}

section#header {
    padding-bottom: spacing(4);

    h1 {
        @include typography-title;
    }
    h2 {
        @include typography-subtitle;
    }
    time {
        @include typography-base;
        @include typography-subdued(1);
    }
}

article {
    p {
        @include typography-body;
    }
    h2 {
        @include typography-section-title;
    }
    p {
        + p {
            padding-top: spacing(2);
        }
        + :not(p) {
            padding-top: spacing(3);
        }
    }
}

.dropcap {
    span {
        float: left;
        margin-right: spacing(0.3);
        font-size: 3.4em;
        line-height: 0.75em;
        padding-top: 0.08em;
    }
}