@import './lib/reset';
@import './lib/spacing';
@import './lib/typography';

$page-width: 40em;

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

nav {
    width: 100%;
    padding: spacing(2);
    background: whitesmoke;
    display: flex;
    justify-content: center;

    div {
        width: 100%;
        max-width: $page-width;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        
        .brand {
            @include reset-link;
            font-weight: 600;
            font-size: 1.2em;
            margin-right: 2em;
        }
        
        ul {
            @include reset-list;
            list-style: none;
        
            li a {
                @include reset-link;
            }
        }        
    }
}

section#header {
    margin-top: spacing(3);
    margin-bottom: spacing(4);
    h1 {
        @include typography-title;
    }
    h2 {
        @include typography-subtitle;
    }
    time {
        @include typography-base;
        @include typography-subdued(2);
    }
}

main {
    max-width: $page-width;
    width: 100%;
    padding: 0 spacing(2);
}

article {
    p {
        @include typography-body;
    }
    @for $i from 1 through 3 {
        h#{$i + 1} {
            @include typography-section-title($i);
        }    
    }
    p {
        + p {
            margin-top: spacing(2);
        }
        @for $i from 1 through 3 {
            + h#{$i + 1} {
                margin-top: spacing(2.3);
            }
        }
    }
    ol + p, p + ol {
        margin-top: spacing(2);
    }
    ul, ol {
        margin: 0;
        li {
            @include typography-body;
            font-size: $typography-font-size;
            line-height: 35px;
        }
    }
    ul > li > ul,
    ol > li > ol {
        padding-left: spacing(4);
    }
    figure {
        img {
            width: 100%;
        }
    }
}

.dropcap {
    span {
        float: left;
        margin-right: spacing(0.3);
        font-size: 3.5em;
        line-height: 0.9em;
        padding-top: 0.08em;
    }
}