@import './lib/reset';
@import './lib/spacing';
@import './lib/typography';

body {
    margin: 0;
}

header {
    background: whitesmoke;
    padding: spacing(2);
    nav {
        display: flex;
        .brand {
            @include reset-link;
        }    
        ul {
            @include reset-list;
            list-style: none;
            li a {
                @include reset-link;
            }
        }
    }
}

section#header {
    padding-bottom: spacing(4);
    h1 {
        @include typography-title;
    }
    h2 {
        @include typography-subtitle;
    }
    time {
        @include typography-base;
        @include typography-subdued(2);
    }
}

article {
    p {
        @include typography-body;
    }
    @for $i from 1 through 3 {
        h#{$i + 1} {
            @include typography-section-title($i);
        }    
    }
    p {
        + p {
            padding-top: spacing(2);
        }
        + :not(p) {
            padding-top: spacing(3);
        }
    }
    ul, ol {
        margin: 0;
        li {
            @include typography-body;
            font-size: 1em;
        }
    }
    ul > li > ul,
    ol > li > ol {
        padding-left: spacing(4);
    }
}

.dropcap {
    span {
        float: left;
        margin-right: spacing(0.3);
        font-size: 3em;
        line-height: 0.9em;
        padding-top: 0.08em;
    }
}