@import "./lib/spacing";
@import "./lib/opacity";
@import "./lib/font-size";
@import "./lib/font-family";

section#title {
  margin-bottom: spacing(4);

  h1 {
    @include font-family(title, 1);
    @include font-size(title, 1);
    margin: 0;
    font-weight: 600;
  }

  h2 {
    @include opacity(1);
    @include font-family(title, 2);
    @include font-size(title, 4);
    line-height: 28px;
  }

  time {
    @include opacity(2);
    @include font-family(title, 2);
  }
}

section#content {
  p {
    @include font-family(body);
    @include font-size(body);
  }

  // Default styles for h1-h4
  @for $i from 1 through 4 {
    h#{$i} {
      @include font-family(title, 2);
      @include font-size(title, $i);
    }
  }
}
