@import "../lib/spacing";
@import "../lib/font-size";
@import "../lib/font-family";
@import "../lib/opacity";
@import "../lib/color";
@import "../lib/icon";

article {
  // display: flex;
  // flex-direction: column;

  > *:not(:last-child) {
    margin-bottom: spacing(1.5) !important;
  }

  h1 {
    @include font-size(title, 1);
    @include font-family(title, 2);
    margin: 0;
  }

  p {
    @include font-family(body);
    margin: 0;
    line-height: 1.5em;
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    :first-child {
      margin-right: spacing(0.5);
    }

    img {
      @include icon(16px);
    }
  }

  ul.technologies {
    padding: 0;
    margin: 0;

    list-style-type: none;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;

    font-size: 12px;
    font-weight: 600;
    line-height: 25px;

    :not(:last-child) {
      margin-right: spacing(2);
    }

    li {
      padding: 0 spacing(1.25);
      background-color: color(primary);
      color: color(white);
      border-radius: spacing();
    }
  }
}
