{{ define "head" }}
{{ $style := resources.Get "/scss/single.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link
  rel="stylesheet"
  href="{{ $style.Permalink }}"
/>
{{ end }}
{{ define "title" }} {{ .Title }} · {{ .Site.Title }} {{ end }}

{{ define "main" }}

<article id="container">
  <section id="title">
    <h1>{{ .Title }}</h1>
    <h2>{{ .Summary }}</h2>
    {{ $published_date_formatted := .PublishDate.Format "2006-01-02" }}

    <time datetime="{{ $published_date_formatted }}"
      >{{ $published_date_formatted }}</time
    >
  </section>

  <section id="content">
    {{ .Content }}

  </section>

  <section id="engagement">
    <ul>
      <li>
        <a href="https://twitter.com/corytheboyd" alt="Comment on Hacker News">
          <img src="/icons/ycombinator.svg" alt="Hacker News" />
          <span>Comment on Hacker News</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/corytheboyd" alt="Send me a Tweet">
          <img src="/icons/twitter.svg" alt="Twitter" />
          <span>Sent me a Tweet</span>
        </a>
      </li>
      <li>
        RSS feed
      </li>
    </ul>
  </section>
</article>
{{ end }}
