@import "../lib/spacing";
@import "../lib/opacity";
@import "../lib/font-size";
@import "../lib/font-family";
@import "../lib/color";
@import "../lib/icon";

section#title {
  margin: spacing(4) auto;

  h1 {
    @include font-family(title, 1);
    @include font-size(title, 1);
    margin: 0;
    font-weight: 600;
  }

  h2 {
    @include opacity(1);
    @include font-family(title, 2);
    @include font-size(title, 4);
    line-height: 28px;
  }

  time {
    @include opacity(2);
    @include font-family(title, 2);
  }
}

section#content {
  min-height: 100px;

  p,
  ul,
  ol {
    @include font-family(body);
    @include font-size(body);
  }

  // Default styles for h1-h4
  @for $i from 1 through 4 {
    h#{$i} {
      @include font-family(title, 2);
      @include font-size(title, $i);
    }
  }
}

section#engagement {
  margin-top: spacing(10);
  padding: spacing(4) 0;

  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgba(color(black), 0),
      rgba(color(black), 0.5),
      rgba(color(black), 0)
    )
    1 0 0 0 / 1px;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li:not(:last-child) {
      margin-bottom: spacing(3);
    }

    li {
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        :first-child {
          margin-right: spacing(1);
        }

        img {
          @include icon;
        }
      }
    }
  }
}
