{{ define "head" }}
{{ $style := resources.Get "/scss/posts/list.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link
  rel="stylesheet"
  href="{{ $style.Permalink }}"
/>
{{ end }}
{{ define "title" }}
{{ .Title }} ·
{{ .Site.Title }}
{{ end }}
{{ define "main" }}
{{ range .Pages.ByPublishDate.Reverse }}

<article>
  {{ $published_date_formatted := .PublishDate.Format "2006-01-02" }}

  <time datetime="{{ $published_date_formatted }}"
    >{{ $published_date_formatted }}</time
  >

  <a href="{{ .Permalink }}">{{ .Title }}</a>
</article>
{{ end }}
{{ end }}
