{{ define "head" }}
{{ $style := resources.Get "/scss/home.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{define "main"}}
<div>
    <img class="shadow" src="/me.png" alt="A handsome boi">
</div>
<div>
    <p>Software Engineer by day, cat dad by night.</p>
    <p>I deliver simple systems built on well placed and well understood foundations.</p>
    <p>Code is evil, let's write less of it in order to do more.</p>
</div>
{{end}}