{{ define "head" }}
{{ $style := resources.Get "/scss/home.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link
  rel="stylesheet"
  href="{{ $style.Permalink }}"
/>
{{ end }}
{{ define "main" }}

<section id="profile">
  <section id="image">
    <img src="/me.png" alt="A handsome boi" />
  </section>

  <section id="links">
    <ul>
      <li>
        <a href="http://github.com/corytheboyd" target="_blank">
          <img src="/icons/github.svg" alt="My GitHub profile" />
        </a>
      </li>
      <li>
        <a href="https://twitter.com/corytheboyd" target="_blank">
          <img src="/icons/twitter.svg" alt="My Twitter profile" />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/corytheboyd" target="_blank">
          <img src="/icons/linkedin.svg" alt="My LinkedIn profile" />
        </a>
      </li>
      <li>
        <a href="https://twitch.tv/corytheboyd" target="_blank">
          <img src="/icons/twitch.svg" alt="My Twitch profile" />
        </a>
      </li>
      <li>
        <a href="mailto:cboyd@hey.com" target="_blank">
          <img src="/icons/hey.svg" alt="My Twitch profile" />
        </a>
      </li>
    </ul>
  </section>
</section>

<section id="content">
  <p>
    Professional software engineer by day, cat dad by night.
  </p>
  <p>
    I deliver simple systems built on thoroughly planned and well understood
    foundations.
  </p>
  <p>Do more by writing less code.</p>
</section>
{{ end }}
