{{ define "head" }}
{{ $style := resources.Get "/scss/home.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link
  rel="stylesheet"
  href="{{ $style.Permalink }}"
/>
{{ end }} {{ define "main" }}
<img
  class="shadow"
  src="/me.png"
  alt="A handsome boi"
/>
<div>
  <p>
    Professional software engineer by day, cat dad by night.
  </p>
  <p>
    I deliver simple systems built on thoroughly planned and well understood
    foundations.
  </p>
  <p>Do more by writing less code.</p>
</div>
{{ end }}
